<%= form_for sight, html: { multipart: true } do |f| %>
  <% if sight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sight.errors.count, "error") %> prohibited this sight from being saved:</h2>

      <ul>
      <% sight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <br/>
    <% if sight.picture? %>
      <%= image_tag sight.picture.url(:thumb) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :excerpt %>
    <%= f.text_field :excerpt, class: 'form-control'  %>
  </div>

  <p>Для карт в нужном месте вставляем: <xmp><div id="location-canvas"></div></xmp>Для параграфа с маршрутом: <xmp><p class="directions">Текст маршрута</p></xmp></p>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :coordinates %>
    <%= f.text_field :coordinates, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= f.label :top %>
    <%= f.check_box :top %>
  </div>
  
  <div class="jumbotron">
    <h2>SEO</h2>
    <div class="form-group">
      <%= f.label :seo_title %>
      <%= f.text_field :seo_title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :seo_description %>
      <%= f.text_area :seo_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :seo_keywords %>
      <%= f.text_area :seo_keywords, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить", class: 'btn btn-default' %>
  </div>
<% end %>
