<rss
    xmlns:yandex="http://news.yandex.ru"
    xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:turbo="http://turbo.yandex.ru"
    version="2.0"
>
    <channel>
    	<% @sights.each do |sight| %>
        <item turbo="true">
           <link><%= request.base_url + '/sights/' + sight.id.to_s %></link>
           <turbo:content>
	           <![CDATA[
	                   <header>
	                       <h1><%= sight.name %></h1>
	                   </header>
	                   <figure>
	                      <%= image_tag sight.picture.url(:large) %>
	                      <figcaption><%= sight.name %></figcaption>
	                   </figure>
	                   <h2>Описание достопримечательности</h2>
	                   <p><%= sight.content.html_safe rescue 0 %></p>
	               ]]>
           </turbo:content>
        </item>
        <% end %>
    </channel>
</rss>