<section class="sights">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <nav aria-label="breadcrumb">
      <ol class='breadcrumb'>
          <li class="breadcrumb-item">
            <%= link_to 'Главная', root_path %>
          </li>
          <li class="breadcrumb-item active">
            Что посмотреть?
          </li>
      </ol>
    </nav>
    <h1>Достопримечательности Красной Поляны</h1>
    <p>Достопримечательности и самые интересные места Красной Поляны. Описания, расположение на карте, маршруты, цены и отзывы.</p>
    <div class="row">
      <% @sights.each do |sight| %>
        <div class="col-sm-6">
          <div class="card">
            <%= image_tag sight.picture.url(:large), class: 'img-fluid card-img-top' %>
            <div class="card-body">
              <h5 class="card-title"><%= sight.name %></h5>
              <p class="card-text"><%= sight.excerpt %></p>
              <%= link_to 'Читать полностью &rarr;'.html_safe, sight, class: 'btn btn-primary' %>
              <% if user_signed_in? %>
                <p>
                  <ul class="list-inline">
                    <li class="list-inline-item"><%= link_to 'Edit', edit_sight_path(sight) %></li>
                    <li class="list-inline-item"><%= link_to 'Destroy', sight, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <% if user_signed_in? %><%= link_to 'New Sight', new_sight_path, class: 'btn btn-default' %><% end %>
  </div>
</section>
