<section class="sight">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<nav aria-label="breadcrumb">
		  <ol class='breadcrumb'>
		  	  <li class="breadcrumb-item">
		        <%= link_to 'Главная', root_path %>
		      </li>
		      <li class="breadcrumb-item">
		        <%= link_to 'Что посмотреть?', sights_path %>
		      </li>
		      <li class="breadcrumb-item active" aria-current="page">
		        <%= @sight.name %>
		      </li>
		  </ol>
		</nav>
		<h1><%= @sight.name %></h1>
		<%= @sight.content.html_safe rescue 0 %>
		<p><strong>Статья была полезной? Поделитесь с друзьями:</strong>
			<div class="addthis_inline_share_toolbox"></div>
		</p>
		<p>
          <div id="vk_comments"></div>
          <script type="text/javascript">
          VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
          </script>
        </p>
        <% if user_signed_in? %>
			<p>
				<%= link_to 'Edit', edit_sight_path(@sight) %> |
				<%= link_to 'Back', sights_path %>
			</p>
		<% end %>
</section>
<script>
var myLatlng = new google.maps.LatLng(<%= @sight.coordinates.split(',')[1] %>, <%= @sight.coordinates.split(',')[0]%>);
var mapOptions = {
  zoom: 10,
  center: myLatlng
}
var map = new google.maps.Map(document.getElementById("location-canvas"), mapOptions);

var marker = new google.maps.Marker({
    position: myLatlng,
    title:"Hello World!"
});

// To add the marker to the map, call setMap();
marker.setMap(map);
</script>
