<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :excerpt %>
    <%= f.text_field :excerpt, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="jumbotron">
    <h2>SEO</h2>
    <div class="form-group">
      <%= f.label :seo_title %>
      <%= f.text_field :seo_title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :seo_description %>
      <%= f.text_area :seo_description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :seo_keywords %>
      <%= f.text_area :seo_keywords, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить", class: 'btn btn-default' %>
  </div>
<% end %>
