<section class="pages">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <ol class='breadcrumb'>
        <li class="breadcrumb-item">
          <%= link_to 'Главная', root_path %>
        </li>
        <li class="breadcrumb-item active">
          Статьи
        </li>
    </ol>
    <div class="title">
      <h1>Статьи о Красной Поляне</h1>
      <p>Полезная информация для гостей Красной Поляны</p>
    </div>
    <div class="row">
      <% @pages.each do |page| %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= page.name %></h5>
              <p class="card-text"><%= page.excerpt %></p>
              <%= link_to 'Читать полностью &rarr;'.html_safe, page, class: 'btn btn-primary' %>
              <% if user_signed_in? %>
              <p>
                <ul class="list-inline">
                  <li class="list-inline-item"><%= link_to 'Edit', edit_page_path(page) %></li>
                  <li class="list-inline-item"><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <% if user_signed_in? %><%= link_to 'New Page', new_page_path, class: 'btn btn-default' %><% end %>
  </div>
</section>
