<rss
    xmlns:yandex="http://news.yandex.ru"
    xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:turbo="http://turbo.yandex.ru"
    version="2.0"
>
    <channel>
    	<% @pages.each do |page| %>
        <item turbo="true">
           <link><%= request.base_url + '/pages/' + page.id.to_s %></link>
           <turbo:content>
	           <![CDATA[
	                   <header>
	                       <h1><%= page.name %></h1>
	                   </header>
	                   <p><%= page.content.html_safe rescue 0 %></p>
	               ]]>
           </turbo:content>
        </item>
        <% end %>
    </channel>
</rss>