<section class="map">
	<div class="container">
		<p id="notice"><%= notice %></p>
	    <ol class='breadcrumb'>
	        <li class="breadcrumb-item">
	          <%= link_to 'Главная', root_path %>
	        </li>
	        <li class="breadcrumb-item active">
	          Отели Красной Поляны на карте
	        </li>
	    </ol>
		<div class="heading">
			<h1>Отели Красной Поляны на карте</h1>
			<p>Для вашего удобства мы разработали карту на которой вы сможете посмотреть расположение интересующих вас отелей и достпримечательностей, а так же ознакомиться с расстоянием и местоположением объектов относительно подъемников и склонов.</p>
		</div>
		<div class="list-map">
			<div id="location-canvas" style="width:100%;height:500px;"></div>
		</div>
		<table class="table table-striped">
			<tbody>
			
				<% @hotels.each do |hotel| %>
				<tr>
					<td><%= hotel.name %></td> 
					<td><%= link_to 'на карте', "javascript:google.maps.event.trigger(gmarkers['#{hotel.name}'],'click');", class: 'hotel-link' %></td> 
					<td><%= link_to 'на странице', hotel %></td>
				</tr>
				<% end %>
			
		</tbody>
		</table>
	</div>
</section>
<script>
var locations = function() {
  var a = null;
  $.ajax({async:!1, global:!1, url:"/hotels.json", dataType:"json", success:function(b) {
    a = b;
  }});
  return a;
}();
gmarkers = [];
var map = new google.maps.Map(document.getElementById("location-canvas"), {zoom:14, center:new google.maps.LatLng(43.676, 40.28), mapTypeId:google.maps.MapTypeId.ROADMAP, scrollwheel:!1}), infowindow = new google.maps.InfoWindow;
function createMarker(a, b) {
  var c = new google.maps.Marker({position:a, map:map});
  google.maps.event.addListener(c, "click", function() {
    infowindow.setContent(b);
    infowindow.open(map, c);
  });
  return c;
}
for (var i = 0; i < locations.length; i++) {
  var data = locations[i];
  gmarkers[data.name] = createMarker(new google.maps.LatLng(data.coordinates.split(",")[0], data.coordinates.split(",")[1]), "<b>" + data.name + "</b><br/><a href='/hotels/" + data.id + "'>перейти</a>");
};
</script>
