<section class="page">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<ol class='breadcrumb'>
          <li class="breadcrumb-item">
            <%= link_to 'Главная', root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Статьи', pages_path %>
          </li>
          <li class="breadcrumb-item active">
            <%= @page.name %>
          </li>
       </ol>
		<h1><%= @page.name %></h1>
		<%= @page.content.html_safe rescue 0 %>
		<p><strong>Статья была полезной? Поделитесь с друзьями:</strong>
			<div class="addthis_inline_share_toolbox"></div>
		</p>
		<p>
          <div id="vk_comments"></div>
          <script type="text/javascript">
          VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
          </script>
        </p>
    <% if user_signed_in? %>
  		<p>
  			<%= link_to 'Edit', edit_page_path(@page) %> |
  			<%= link_to 'Back', pages_path %>
  		</p>
    <% end %>
</section>

