/* HOTELS INDEX */
section.hotels
  h1
    margin-top: 60px
    font-weight: bold
  .filter
    background: #f2f4ff
    padding: 0px 15px
    padding-top: 15px
    padding-bottom: 5px
    margin-bottom: 30px

  h3
    display: inline-block
    max-width: 320px
    height: 36px
    font-size: 18px
    text-transform: uppercase
    margin-top: 24px
    a
      color: #fff
  .star
    color: #ed1e79
    margin-right: 0.1rem
  img.img-fluid
    width: 100%
  .list-inline
    margin-top: 12px
  .item
    color: white
    padding: 0px 15px
    margin-bottom: 30px
    padding-bottom: 15px
    background: #1f1933
    p
      height: 100px
      font-size: 14px
      font-style: italic   
  .pagination
    justify-content: center
@media(min-width: 768px)
  section.hotels
    h3
      font-size: 14px
      max-width: 180px
@media(min-width: 1200px)
  section.hotels
    h3
      font-size: 18px
      max-width: 320px
/* HOTEL SHOW */
section.hotel
  h1
    font-weight: bold
  h2
    font-size: 26px
    padding-bottom: 10px
  h3
    font-size: 20px
  .heading
    margin-top: 30px
    .cta-button img
      margin-top: 8px
  .cta
    margin-top: 10px
  .star
    color: #ed1e79
    margin-right: 0.1rem
  .image-gallery-thumbnail img
    max-height: 50px
  .nav-pills
    margin-top: 20px
  .summary
    background: #f2f4ff
    padding: 30px
  td.ftd, .roomstable
    border: none
  td.ftd
    padding-bottom: 30px
    .room-facilities
      font-size: 0.9em
    .room-square-size, .room-bed-size
      background: rgb(232, 245, 255)
      padding: 5px 10px
    .room-bed-size
      padding-top: 0px
      margin-top: -6px
    .room-info-photos
      margin-top: 20px
    .room-info-slider
      margin: 0 !important
      img
        max-height: 150px
        width: auto
        padding-right: 10px
        padding-bottom: 10px
      @media(max-width: 500px)
        img
          max-height: 100px

@media(max-width: 320px)
  section.hotel
    .image-gallery-image
      height: 200px

@media(min-width: 1000px)
  section.hotel
    .image-gallery-thumbnail img
      max-height: 70px
  section.hotel
    .image-gallery-image
      max-height: 500px