section.sights, section.sight
  h1
    margin-top: 60px
    font-weight: bold
  p.directions
    background: rgb(235, 242, 255)
    padding: 15px 20px
    font-style: italic
  #location-canvas
    width: 100%
    height: 300px
    margin-top: 30px
    margin-bottom: 20px
    position: relative
    overflow: hidden
section.sights
  .card
    margin-bottom: 30px