body
  font-family: 'Montserrat', sans-serif
.btn
  border: none
  border-radius: 0px
.btn-primary
  background: #2c48e7
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  background: #000 !important
.navbar
  min-height: 80px

.navbar-brand
  padding: 0 15px
  height: 80px
  line-height: 80px
  text-shadow: -3px 0px 0px #ff2b58
  font-size: 28px
  text-transform: uppercase
  font-weight: bold
@media(max-width: 678px)
  .navbar-brand
    font-size: 5vw
.navbar-toggle
  /* (80px - button height 34px) / 2 = 23px
  margin-top: 23px
  padding: 9px 10px !important

@media (min-width: 768px)
  .navbar-nav > li > a
    /* (80px - line-height of 27px) / 2 = 26.5px
    padding-top: 26.5px
    padding-bottom: 26.5px
    line-height: 27px
/* HEADER */
section.header
  margin-top: 0px
  position: relative
  img
    width: 100%
    min-height: 240px
  .title-block
    padding: 15px 15px 50px 15px
    width: 100%
    top: 34%
    text-align: center
    position: absolute
    z-index: 9999
    font-size: 16px
    color: white
    margin-top: -4vw
    h1
      font-weight: bold
      font-size: 4vw
      line-height: 5.5vw
      text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4)
    @include media-breakpoint-between(xs,sm)
      .btn
        @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm)
section.top-sights .title, section.top-hotels .title, section.info .title
  text-align: center
/* TOP SIGHTS */
section.top-sights
  background: #000
  color: #fff
  h2
    font-size: 3.2vw
    padding-top: 4vw
    margin-bottom: 2vw
    font-weight: 300
  img
    width: 100%
  .item
      padding-bottom: 30px !important
  .item:after
    position: absolute
    left: 0
    top: 0
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.10))
    height: 100%
    width: 100%
    content: ''
  .top-sights-content
    padding: 0px 45px 0px 15px
    width: 100%
    top: 5%
    position: absolute
    z-index: 9999
    text-align: center
    h3
      text-transform: uppercase
    h3
      font-size: 20px
    p
      font-size: 14px
      font-style: italic

  .top-sights-cta
    width: 100%
    position: absolute
    z-index: 9999
    text-align: center
    margin: -60px -4%
    .btn
      background: #ed1e79
@media (max-width: 768px)
  section.top-sights
    h2
      font-size: 24px
@media (min-width: 1200px)
  section.top-sights
    h2
      font-size: 36px
/* TOP HOTELS */
section.top-hotels
  background: #dfe5e5  
  color: #fff
  h2
    font-size: 3.2vw
    padding-top: 4vw
    margin-bottom: 2vw
    font-weight: 300
    color: black
  img
    width: 100%
  .title p
      color: black
  .star
    color: #ed1e79
    margin-right: 0.1rem
  .card
    background: #1f1933
    border: none
    border-radius: 0px
    margin-bottom: 30px
    padding-top: 20px
    padding-bottom: 20px
    h3
      text-transform: uppercase
      font-size: 20px
    p
      font-size: 14px
      font-style: italic
      padding: 20px
@media (max-width: 768px)
  section.top-hotels
    h2
      font-size: 24px
@media (min-width: 1200px)
  section.top-hotels
    h2
      font-size: 36px
/* INFO */
section.info
  background: #2c48e7
  color: white 
  h2
    font-size: 3.2vw
    padding-top: 4vw
    margin-bottom: 2vw
    font-weight: 300
  p
    padding-bottom: 30px
    margin-bottom: 0
  a
    color: white
    font-weight: bold
    font-style: italic
@media (max-width: 768px)
  section.info
    h2
      font-size: 24px
@media (min-width: 1200px)
  section.info
    h2
      font-size: 36px
/* MAP */
section.map
  h1
    margin-top: 60px
    font-weight: bold
  .list-map
    padding-bottom: 30px
/* AUTH */
.auth
  h1
    margin-top: 60px
    font-weight: bold
  margin-bottom: 30px
/* EDIT */
.edit-form
  padding-bottom: 30px
  h1
    margin-top: 60px
    font-weight: bold
/* SHARE %/
.addthis-smartlayers.addthis-smartlayers-desktop
  visibility: hidden
/* BREADCRUMBS */
ol.breadcrumb
  padding-left: 0px
  background: none
/* FOOTER */
.footer
  font-size: 18px
  padding-top: 30px
  padding-bottom: 30px
  background: #000
  color: #99979c
  text-align: left
  a
    color: #fff
  .payment-icons
    font-size: 36px
    color: white

.footer-links
  padding-left: 0
  margin-bottom: 20px
  li
    display: inline-block
    margin-right: 15px
    margin-left: -15px

@media (min-width: 768px)
  .footer
    text-align: left
  .footer p
    margin-bottom: 0