<%= form_for hotel, html: { multipart: true } do |f| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <br/>
    <% if hotel.picture? %>
      <%= image_tag hotel.picture.url(:thumb) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :data_url %>
    <%= f.text_field :data_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :stars %>
    <%= f.number_field :stars, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rooms %>
    <%= f.text_area :rooms, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :services %>
    <%= f.text_area :services, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :reviews %>
    <%= f.text_area :reviews, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :booking_script %>
    <%= f.text_area :booking_script, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :top %>
    <%= f.check_box :top %>
  </div>
  
  <div class="actions">
    <%= f.submit "Сохранить", class: 'btn btn-default' %>
  </div>
<% end %>
