<section class="hotels">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <nav aria-label="breadcrumb">
      <ol class='breadcrumb'>
          <li class="breadcrumb-item">
            <%= link_to 'Главная', root_path %>
          </li>
          <li class="breadcrumb-item active">
            Отели
          </li>
      </ol>
    </nav>
    <div class="title">
      <h1>Отели Красной Поляны</h1>
      <p>На основе личного опыта и отзывов гостей мы отобрали для вас только лучшие отели Красной Поляны: смело бронируйте любой из отелей ниже и мы гарантируем, что вы останетесь довольны отдыхом!</p>
      <div class="filter">
        <%= search_form_for @q, :html => {class: 'form-inline'} do |f| %>
          <div class="form-group mx-sm-3 mb-2">
            <%= f.search_field :name_cont, placeholder: "Введите название отеля", class: 'form-control' %>
          </div>
          <%= f.submit "Найти", class: 'btn btn-default mb-2' %>
        <% end %>
        <ul class="list-inline mx-sm-3 mb-2">
          <li class="list-inline-item"><strong>Упорядочить по:</strong></li>
          <li class="list-inline-item"><%= sort_link(@q, :stars, 'количеству звезд', default_order: :desc) %></li>
          <li class="list-inline-item"><%= sort_link(@q, :rating, 'рейтингу', default_order: :desc) %></li>
          <li class="list-inline-item"><%= sort_link(@q, :price, 'цене', default_order: :desc) %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <% @hotels.each do |hotel| %>
        <div class="col-md-4 text-center">
            <%= link_to hotel do %>
              <%= image_tag (hotel.picture.url(:medium)), class: 'img-fluid' %>
            <% end %>
          <div class="item">
            <h3><%= link_to hotel.name, hotel %></h3>
            <ul class="list-inline star-rating">
              <% hotel.stars.times do %>
              <li class="list-inline-item star"><%= icon('fas', 'star') %></li>
              <% end %>
            </ul>

            <p class=""><%= hotel.external['table']['description'] %></p>
            <%= link_to 'Номера и цены ⟶', hotel, class: "btn btn-primary" %>
            <% if user_signed_in? %>
              <ul class="list-inline">
                <li class="list-inline-item"><%= link_to 'Edit', edit_hotel_path(hotel) %></li>
                <li class="list-inline-item"><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <p><%= will_paginate @hotels, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %><p>
    <% if user_signed_in? %><p><%= link_to 'New Hotel', new_hotel_path, class: 'btn btn-primary' %></p><% end %>
  </div>
</section>