
<section class="hotel">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <nav aria-label="breadcrumb">
      <ol class='breadcrumb'>
          <li class="breadcrumb-item">
            <%= link_to 'Главная', root_path %>
          </li>
          <li class="breadcrumb-item">
            <%= link_to 'Отели', hotels_path %>
          </li>
          <li class="breadcrumb-item active">
            <%= @hotel.name %>
          </li>
      </ol>
    </nav>
    <ul class="list-inline heading">
      <li class="list-inline-item">
        <h1><%= truncate(@hotel.name, length: 36, omission:"") %></h1>
        <ul class="list-inline star-rating">
          <% @hotel.stars.times do %>
          <li class="list-inline-item star"><%= icon('fas', 'star') %></li>
          <% end %>
        </ul>
        <p><%= icon('fas', 'map-marker-alt') %></i> <%= @hotel.external['table']['address'] %></p>
      </li>
      <li class="list-inline-item float-lg-right">
        <%= link_to ("#{image_tag 'button.svg'}").html_safe, @hotel.external['table']['link'] + "?aid=1632186&no_rooms=1&group_adults=2&room1=A%2CA", class: 'cta-button' %>
      </li>
    </ul>
    <%= react_component 'PageGallery', { photos: @hotel.external['table']['photos'] }, {prerender: true} %>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Описание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-rooms-tab" data-toggle="pill" href="#pills-rooms" role="tab" aria-controls="pills-rooms" aria-selected="false">Номера</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-services-tab" data-toggle="pill" href="#pills-services" role="tab" aria-controls="pills-services" aria-selected="false">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews" role="tab" aria-controls="pills-reviews" aria-selected="false">Отзывы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-booking-tab" data-toggle="pill" href="#pills-booking" role="tab" aria-controls="pills-booking" aria-selected="false"><strong>Цены и бронирование</strong></a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
        <h2>Описание отеля <%= @hotel.name %></h2>
        <p><%= @hotel.external['table']['description'] %></p>
        <p>
          К усугам наших гостей предлагаются:
          <ul>
            <% @hotel.external['table']['services'].each do |service| %>
              <li><%= service %></li>
            <% end %>
          </ul>
        </p>
        <p class="summary"><%= @hotel.external['table']['summary'] %></p>
      </div>
      <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms-tab">
        <h2>Номера и фото <%= @hotel.name %></h2>
        <p><%= @hotel.rooms.html_safe rescue 0 %></p>
      </div>
      <div class="tab-pane fade" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab">
        <h2>Услуги в <%= @hotel.name %></h2>
        <p><%= @hotel.services.html_safe rescue 0 %></p>
      </div>
      <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
        <h2>Отзывы о <%= @hotel.name %></h2>
        <p>
          <div id="vk_comments"></div>
          <script type="text/javascript">
          VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
          </script>
        </p>
      </div>
      <div class="tab-pane fade" id="pills-booking" role="tabpanel" aria-labelledby="pills-booking-tab">
        <h2>Цены и бронирование <%= @hotel.name %></h2>
        <p><%= @hotel.booking_script.html_safe rescue 0 %></p>
      </div>
    </div>
    <p><strong>Расскажите об отеле друзьям:</strong>
      <div class="addthis_inline_share_toolbox"></div>
    </p>
  </div> 
</section>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_hotel_path(@hotel) %> |
  <%= link_to 'Back', hotels_path %>
<% end %>

<script type="text/javascript">
  function setImages() { 
    var divs = document.querySelectorAll('.room-info-slider');
    Array.prototype.forEach.call(divs, function(elements, index) {
      var spans = elements.getElementsByTagName("span");
      for(j=0;j<spans.length;j++) {
        spans[j].insertAdjacentHTML('beforeend', "<a class='chocolat-image' href=" + spans[j].dataset.imageHighRes + "><img class='img-fluid' src=" + spans[j].dataset.image +"></a>");
      }
    });
  }
  $(document).ready(function() {
    setImages();
    $('.room-info-slider').Chocolat();
  })
</script>
