<rss
    xmlns:yandex="http://news.yandex.ru"
    xmlns:media="http://search.yahoo.com/mrss/"
    xmlns:turbo="http://turbo.yandex.ru"
    version="2.0"
>
    <channel>
        <item turbo="true">
           <link><%= request.original_url %></link>
           <turbo:content>
	           <![CDATA[
	                   <header>
	                       <h1><%= @hotel.name %></h1>
	                   </header>
	                   <figure>
	                      <%= image_tag @hotel.external['table']['image'] %>
	                      <figcaption><%= @hotel.name %></figcaption>
	                   </figure>
	                   <h2>Описание отеля</h2>
	                   <p><%= @hotel.external['table']['summary'] %></p>
	                   <ul>
	                   <h2>Услуги в отеле</h2>
	                   <% @hotel.external['table']['services'].each do |service| %>
	                       <li><%= service %></li>
	                   <% end %>
	                   </ul>
	                   <p><%= link_to ("#{image_tag 'button.svg'}").html_safe, @hotel.external['table']['link'] + "?aid=1632186&no_rooms=1&group_adults=2&room1=A%2CA", class: 'cta-button' %></p>
	               ]]>
           </turbo:content>
        </item>
    </channel>
</rss>