<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li>
	    <%= link_to 'Отели', hotels_path, class: 'nav-link' %>
	  </li>
	  <li>
	    <%= link_to 'Что посмотреть?', sights_path, class: 'nav-link' %>
	  </li>
	  <li>
	  	<%= link_to 'Полезное', pages_path, class: 'nav-link' %>
	  </li>
	  <li>
	    <%= link_to 'Карта', map_path, class: 'nav-link' %>
	  </li>
    </ul>
    <p><%= link_to '<strong>Kraspol.online</strong>'.html_safe, root_path %> — Отели и достопримечательности Красной Поляны</p>
    <p>© 2018 Копирование текстов без письменного разрешения владельца сайта запрещено</p>
    <ul class="list-inline payment-icons">
    	<li class="list-inline-item"><i class="fab fa-vk"></i></li>
    	<li class="list-inline-item"><i class="fab fa-facebook"></i></li>
    </ul>
  </div>
</footer>