<section class="header">
  <%= image_tag 'header.jpg', class: 'img-floating' %>
  <div class="title-block">
    <h1>Отели и достопримечательности <br/> Красной Поляны</h1>
    <%= link_to "Найти отели", hotels_path, class: "btn btn-lg btn-primary", "data-role" => "button" %>
    <% link_to ('Выбрать отель '+ icon('fas', 'angle-right')).html_safe, hotels_path, class: 'btn btn-lg btn-warning' %>
  </div>
</section>