<section class="info">
	<div class="container">
		<div class="title">
			<h2>Отдых в Красной Поляне, отели и достопримечательности</h2>
			<p>На сайте kraspol.online мы рады помочь вам выбрать и забронировать онлайн <%= link_to 'отель', hotels_path %> в Красной Поляне. Услуги по бронированию совершенно бесплатно, ведь мы работаем без комиссии! Вы оплачиваете лишь стоимость проживания по прибытию в отель или онлайн.</p> 
			<p>Красная Поляна — знаменитый горнолыжный курорт, расположенный на высоте около 600 метров над уровнем моря в 70 километрах от города Сочи, Красную Поляну окружают величественные горы Главного Кавказского хребта. Для вас круглый год работают канатные дороги и подъемники, которые доставят вас в любую точку курорта.</p>
			<p>Любителям горнолыжного отдыха мы рекомендуем выбрать отель в Розе Хутор — круглогодичном горнолыжном курорте, расположенном на живописном берегу реки Мзымта и горных склонах к югу от неё. Роза Хутор является самым большим горнолыжным курортом на территории Российской Федерации и располагает 28 канатными дорогами.</p>
			<p>Если горнолыжный отдых не является вашей основной целью, вы можете остановиться непосредственно в отелях поселка Красная Поляна — как правило, цены на проживание в отелях здесь ниже, чем в отелях расположенных у склонов. На нашей <%= link_to 'карте отелей Красной Поляны', map_path %> вы сможете найти отель в соответствии со своими пожеланиями к местоположению.</p>
			<p>В окрестностях Красной Поляны расположено множество природных <%= link_to 'достопримечательностей', sights_path %>: живописные каньоны, водопады, горные хребты, реки — здесь каждый сможет найти для себя место и досуг по вкусу. Отдых в Красной Поляне возможен круглый год — одни достопримечательности проявляют себя с самой живописной стороны зимой и весной, другие же благоприятны к посещению летом или осенью. Чистый воздух Красной Поляны окажет благоприятное влияние на ваше физическое самочувствие, а незабываемые пейзажи подарят вам эстетическое наслаждение и помогут привести в порядок мысли.</p>
			</p>
		</div>
	</div>
</section>