<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to 'Отели', hotels_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Что посмотреть?', sights_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Полезное', pages_path, class: 'nav-link' %>
  </li>
</ul>