<ul class="navbar-nav">
  <li class="nav-item">
    <%= link_to 'Карта', map_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ski Pass</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Экскурсии</a>
  </li>
  <li class="nav-item">
  	<% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "nav-link" %>
    <% end %>
  </li>
</ul>