<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

<!--  Show this only on mobile to medium screens  -->
  <%= link_to 'Красная Поляна', root_path, class: "navbar-brand d-lg-none" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--  Use flexbox utility classes to change how the child elements are justified  -->
  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
    <%= render 'layouts/links' %>
<!--   Show this only lg screens and up   -->
    <%= link_to 'Красная Поляна', root_path, class: "navbar-brand d-none d-lg-block" %>
    <%= render 'layouts/links_right' %>
  </div>
</nav>