<section class="top-sights">
	<div class="container">
		<div class="title">
			<h2>Топ достопримечательностей</h2>
			<p>Топ достопримечательностей Красной Поляны — фото, карты, описания, как добраться и многое другое.</p>
		</div>
		<div class="row top-sights-row">
			<% Sight.all.where(top: true).limit(3).each do |sight| %>
			<div class="col-md-4 col-xs-12 item text-center">
				<%= link_to sight do %>
					<%= image_tag sight.picture.url(:main), class: 'floating' %>
				<% end %>
				<div class="top-sights-content">
					<h3><%= sight.name %></h3>
					<p><%= sight.excerpt %></p>
				</div>
				<div class="top-sights-cta">
					<div><%= link_to "Как добраться? ⟶", sight, class: "btn btn-secondary", "data-role" => "button" %></div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>