<section class="top-hotels">
	<div class="container">
		<div class="title">
			<h2>Топ отелей</h2>
			<p>Лучшие отели Красной Поляны для вас — выбирайте и бронируйте онлайн!</p>
		</div>
		<div class="row top-hotels-row">
			<% Hotel.all.where(top: true).limit(4).each do |hotel| %>
			<div class="col-md-6 col-xs-12 item text-center">
				<%= link_to hotel do %>
					<%= image_tag hotel.picture.url(:large), class: 'floating' %>
				<% end %>
				<div class="card">
					<div class="card-block text-center">
						<h3 class="card-title"><%= hotel.name %></h3>
						<ul class="list-inline star-rating">
			              <% hotel.stars.times do %>
			              <li class="list-inline-item star"><%= icon('fas', 'star') %></li>
			              <% end %>
			            </ul>
						<p><%= truncate(hotel.external['table']['description'], length: 90) %></p>
						<%= link_to 'Номера и цены ⟶', hotel, class: "btn btn-primary" %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>