<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags site: 'Отдых в Красной Поляне' %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag	   'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
    <script type="text/javascript">
      VK.init({apiId: 6726247, onlyWidgets: true});
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwvQaGGdHcLifD7uQ1aNmA0rPRGR5gY8I" type="text/javascript"></script>
    <meta name="google-site-verification" content="ZweS-ZS-qP7YqOLEF1b1PUFliukchx5elZIZ-lY5abA" />
    <meta name="yandex-verification" content="09cda69174d73851" />
</head>
  <body>
  	<%= render 'layouts/navbar' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e215d296d3a8d25"></script>
    <%= render 'layouts/metrika' %>
  </body>
</html>
